<!-- shows how to start a simple simulation controller on the WAM -->
<launch>
  <machine name="wam" address="localhost"/>
  <node machine="wam" name="wam" pkg="openrave_robot_control" type="simulationserver" respawn="false" output="screen" args="--robotfile robots/barrettsegway.robot.xml --manipname arm --maxvelmult 1.0">
  </node>
  <node machine="wam" name="openrave" pkg="openrave_robot_control" type="testopenravecontrol.py" respawn="false">
    <env name="PYTHONPATH" value="$(optenv PYTHONPATH):$(find openrave)/share/openrave"/>
    <env name="OPENRAVE_PLUGINS" value="$(optenv OPENRAVE_PLUGINS):$(find openrave)/share/openrave/plugins:$(find openrave_robot_control)/lib"/>
  </node>
  <sphinxdoc><![CDATA[
This script starts the openrave simulation server and a test controller. The test controller moves the robot and the simulator receives the robot joint angles and moves shows it moving. The script uses the WAM arm and sets the controllable joints usings its manipulator.

.. image:: launch/images/wam_sim.png
  :width: 400

  ]]></sphinxdoc>
</launch>
